.confirmacion-section {
  background-color:rgba(255, 255, 255, 0.5); 
background-image: url('/background/1.jpg');
background-size: cover;


  text-align: center;
  padding: 5rem 1rem;
}

.confirmacion-titulo {
  letter-spacing: 0.1rem;
  color: #2d2d2d;
  margin-bottom: 1rem;
}

.confirmacion-subtitulo {
  font-size: 1.125rem;
  color: #3f3f3f;
  margin-bottom: 2rem;
}

.confirmacion-boton {
  background-color: #c5ad95;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.75rem 2rem;
  border-radius: 9999px;
  text-decoration: none;
 
  transition: all 0.3s ease;

   background-color: #d4c0ab;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.confirmacion-boton:hover {
  color:  #d4c0ab;
border: 4px #d4c0ab solid ;
  background-color: white;
}

.agradecimiento {
  background-color: var(--color-bg);
  color: white;
  text-align: center;
  padding: 50px 0;
  font-size: 1rem;
}

.footer {
  background-color: rgb(186, 185, 185);
  color: white;
  text-align: center;
  padding: 1rem 0;
  font-size: 1rem;

  gap: 1.5rem;
}

.footer a {
  color: white;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.footer a:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.p{
  gap: 20px;
  display: flex;
  justify-content: center;
}