@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Great+Vibes&display=swap');
@import "tailwindcss";
:root {
  --color-bg: #688876;
  --color-primary: #e3e3e3;
  --color-text: #e6e5e5;
  --color-muted: #e9e6e6;
  --font-main: Arial, Helvetica, sans-serif;
  --button-bg: #c5ad95;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
